.videoCard {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: calc(100vh - 4rem);
  background-color: black;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}

.overlay {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  color: white;
  z-index: 2;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.8),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.6);
  max-width: calc(100% - 6rem);
  transition: bottom 0.3s ease-in-out;
  background: transparent;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.overlay.commentsOpen {
  bottom: calc(52vh - 2.5rem);
}

.description {
  margin-top: 0.5rem;
  color: white;
  line-height: 1.5;
}

.sidebarContainer {
  position: absolute;
  right: 0.75rem;
  bottom: 1rem;
  z-index: 2;
  transition: bottom 0.3s ease-in-out;
}

.sidebarContainer.commentsOpen {
  bottom: calc(52vh - 2.5rem);
}

.sidebarContainer.commentsClosed {
  bottom: 1rem;
}
